%h1 Listing gyms

%table
  %tr
    %th Name
    %th Description
    %th Url
    %th Rss url
    %th
    %th
    %th

  - @gyms.each do |gym|
    %tr
      %td= gym.name
      %td= gym.description
      %td= gym.url
      %td= gym.rss_url
      %td= link_to 'Show', gym
      %td= link_to 'Edit', edit_gym_path(gym)
      %td= link_to 'Destroy', gym, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Gym', new_gym_path
