%h1 Listing workouts

%table
  %tr
    %th Result
    %th
    %th
    %th

  - @workouts.each do |workout|
    %tr
      %td= workout.result
      %td= link_to 'Show', workout
      %td= link_to 'Edit', edit_workout_path(workout)
      %td= link_to 'Destroy', workout, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Workout', new_workout_path
